#center {
	position : relative;
	width : 100%;
}
#center .left_side {
	display : inline-block;
	width : auto;
	margin-left : 100px;
	float : left;
}

#center .right_side {
	display : inline-block;
	position : absolute;
	left : 27%;
	right : 0;
	height : 500px;
	margin-right : 100px;
	float : left;
	border : 2px dotted black;
	border-radius : 2em;
	padding : 20px;
}

#center .table_attribute {
	width : auto;
	height : auto;
	float : top;
}

#center .side_membership_left {
	text-decoration : none;
	font-size : 5px;
	padding-left : 10px;
}
#center .side_membership_right {
	text-decoration : none;
	font-size : 5px;
	text-align: right;
	padding-right : 10px;
}

#center .side_menu {
	width : auto;
	height : 300px;
	float : top;
	border : 2px dotted black;
	border-radius : 2em;
	padding : 10px;
}

