#top_main {
	font-size : 30px;
	font-weight : bold;
	text-align : center;	
	margin-top : 10px;
	margin-bottom : 10px;
	margin-left : 100px;
	margin-right : 100px;
	padding : 10px;
	border-bottom : 3px dotted black;
}
	
#top {
	margin-left : auto;
	margin-right : auto;
	margin-bottom : 10px;
	display : table;
}
#top ul {
	list-style-type : none;
	margin : 0px;
	padding : 0px;	
}
#top ul li{
	color : white;
	background-color : #2d2d2d;
	float : left;
	line-height : 30px;
	vertical-align : middle;
	text-align : center;
	position : relative;	
}
.menu, .sub_menu {
	text-decoration : none;
	display : block;
	width : 150px;
	font-size : 12px;
	font-weight : bold;
}
.menu {
	color : white;
}
.top_menuli:hover .menu{
	color : red;
	background : #4d4d4d;
}
.sub_menu {
	color : #2d2d2d;
	background : white;
	border : solid 1px black;
	margin-top : -1px;
}
.longLink {    
    width: 190px;   
}
.sub_link {
	position : absolute;
	overflow : hidden;
	height : 0px;
    transition: height .2s; 
   	-webkit-transition: height .2s; 
    -moz-transition: height .2s;
    -o-transition: height .2s; 
}   
.top_menuli:hover .sub_link{
	height : 100px;
}
.sub_menu:hover{
	color : blue;
}